{{#with this as |root|}}
<div class="cc-category">
  <div class="cc-category__header">
    <span>{{root.title}}</span>
    <span class="cc-category__system">{{root.system}}</span>
  </div>
  <div class="cc-category__body">
    {{#each root.skills as |skill|}}
    <div class="talent-row">
      {{#if skill.raceBonus}}<span class="talent-row__dot" title="{{localize 'SCUVANYA.Hint.RaceBonusIncluded'}}"></span>{{/if}}
      <a class="talent-row__name" data-action="{{root.rollAction}}" data-key="{{skill.key}}" {{#if root.rollDataName}}data-{{root.rollDataName}}="{{root.rollDataValue}}"{{/if}} title="{{localize 'SCUVANYA.Roll'}}">{{skill.label}}</a>
      <span class="talent-row__buy">
        <a data-action="buyTalent" data-path="{{root.buyPrefix}}.{{skill.key}}.level" data-delta="-1">−</a>
        {{skill.level}}{{#if skill.raceBonus}} (+{{skill.raceBonus}}){{/if}}
        <a data-action="buyTalent" data-path="{{root.buyPrefix}}.{{skill.key}}.level" data-delta="1" title="{{localize 'SCUVANYA.SkillPoints.CostHint'}}: {{skill.nextCost}}">+</a>
      </span>
      {{#if root.showBonus}}<span class="talent-row__stat">{{localize 'SCUVANYA.Bonus'}}: {{skill.bonus}}</span>{{/if}}
    </div>
    {{/each}}
  </div>
</div>
{{/with}}
